venv/
venv
__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
*.log
*.sqlite3
*.env
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
coverage/
htmlcov/
*.cover
*.coveragerc
*.pytest_cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
*.ipynb
*.bak
*.tmp
*.swp
*.swo
*.vscode/

    